<style>
body {
    background: white;
}
.page-wrap {
    min-height: 100vh;
}
</style>


<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-2 lead">The page you are looking for was not found.</div>
                <p>You see this page because you've clicked on a bad link or entered an invalid URL.</p>
                <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
            </div>
        </div>
    </div>
</div>