@using LinkShorter.Views.Dashboard



<div id="dashboard-left-side-nav-bar">
    <div class="nav flex-column nav-pills" id="dashboard-navbar" role="tablist" aria-orientation="vertical">
        <a class="nav-link @DashboardNavPages.StatisticsNavClass(ViewContext)" id="show-statistics" asp-area="" asp-controller="Dashboard" asp-action="Statistics" aria-selected="true">Show statistics</a>
        <a class="nav-link @DashboardNavPages.ManageLinksNavClass(ViewContext)" id="manage-links" asp-area="" asp-controller="Dashboard" asp-action="Links" aria-selected="true">Manage links</a>
        @if (User.IsInRole("Admin")) {
            <a class="nav-link @DashboardNavPages.UsersNavClass(ViewContext)" id="manage-users" asp-area="" asp-controller="Dashboard" asp-action="Users" aria-selected="true">Manage users</a>
        }
    </div>
</div>


<p></p>